<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>포스트 작성</title>
  </head>

  <body>
    <form action="" method="post">
      {% csrf_token %}
      <div>
        <label for="title">제목</label><br />
        <input type="text" name="title" id="title" />
        <!-- name이 instance property와 일치하도록 -->
      </div>
      <div>
        <label for="writer">글쓴이</label><br />
        <input type="text" name="writer" id="writer" />
      </div>
      <div>
        <label for="content">내용</label><br />
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
      </div>
      <input type="submit" value="글쓰기" />
    </form>
  </body>
</html>
